@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

@keyframes border-colors {
  0% {
    border-color: var(--style-lightblue);
    color: var(--style-lightblue);
  }
  25% {
    border-color: var(--style-pink);
    color: var(--style-pink);
  }
  50% {
    border-color: var(--style-blue);
    color: var(--style-blue);
  }
  75% {
    border-color: var(--style-purple);
    color: var(--style-purple);
  }
  100% {
    border-color: var(--style-lightblue);
    color: var(--style-lightblue);
  }
}

@keyframes box-shadows {
  0% {
    box-shadow: 0 0 1.7rem var(--style-lightblue);
  }
  25% {
    box-shadow: 0 0 1.7rem var(--style-purple);
  }
  50% {
    box-shadow: 0 0 1.7rem var(--style-blue);
  }
  75% {
    box-shadow: 0 0 1.7rem var(--style-pink);
  }
  100% {
    box-shadow: 0 0 1.7rem var(--style-lightblue);
  }
}

:root {
  --style-lightblue: rgb(120, 255, 244);
  --style-pink: rgb(245, 69, 98);
  --style-purple: rgb(150, 6, 150);
  --style-blue: rgb(44, 44, 222);
  --style-black: rgb(24, 23, 23);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("encryptor-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  background-color: rgb(32, 32, 32);
}

/*NAVBAR*/

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  background-color: rgba(27, 27, 27, 0.567);
  height: 3.5rem;
  border-bottom-right-radius: 5rem;
}

.title {
  animation: border-colors 9s infinite;
  text-shadow: 0 0 0.5rem;
  border: none;
  letter-spacing: 0.3rem;
  font-size: 2rem;
  margin: 0 2rem 0 2rem;
}

.nav-bar ul {
  display: flex;
  margin-right: 3rem;
  gap: 2rem;
  font-weight: 700;
  font-size: 1.3rem;
}

.links_to_sections,
a {
  cursor: pointer;
  text-decoration: none;
  color: var(--style-purple);
}

.links_to_sections,
a:hover {
  color: var(--style-lightblue);
}

.nav-bar li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
